interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment000001?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment000001","name":"cli_test_deployment000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-07-03T21:09:18Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"properties": {"addressPrefix":
      "10.0.0.0/24"}, "name": "subnet1"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment000001/providers/Microsoft.Network/virtualNetworks/vnet1?api-version=2019-04-01
  response:
    body:
      string: "{\r\n  \"name\": \"vnet1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment000001/providers/Microsoft.Network/virtualNetworks/vnet1\",\r\n
        \ \"etag\": \"W/\\\"c941de05-ba82-4875-bdf9-08df5fdfc414\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"ef07a1a5-831b-404c-89fb-69becda525b9\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [\r\n      {\r\n        \"name\": \"subnet1\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1\",\r\n
        \       \"etag\": \"W/\\\"c941de05-ba82-4875-bdf9-08df5fdfc414\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/b7c28fe4-2bfb-4609-8c10-4b3f541e2547?api-version=2019-04-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/b7c28fe4-2bfb-4609-8c10-4b3f541e2547?api-version=2019-04-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"properties": {"template": "{\\r\\n  \\"$schema\\": \\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\\",\\r\\n  \\"contentVersion\\":
      \\"1.0.0.0\\",\\r\\n  \\"parameters\\": {\\r\\n    \\"name\\": {\\r\\n      \\"type\\":
      \\"string\\"\\r\\n    },\\r\\n    \\"location\\": {\\r\\n      \\"type\\": \\"string\\"\\r\\n    },\\r\\n    \\"subnetId\\":
      {\\r\\n      \\"type\\": \\"string\\"\\r\\n    },\\r\\n    \\"privateIPAllocationMethod\\":
      {\\r\\n      \\"type\\": \\"string\\"\\r\\n    },\\r\\n    \\"backendAddressPools\\":
      {\\r\\n      \\"type\\": \\"array\\"\\r\\n    },\\r\\n    \\"tags\\": {\\r\\n      \\"type\\":
      \\"object\\"\\r\\n    }\\r\\n  },\\r\\n  \\"resources\\": [\\r\\n    {\\r\\n      \\"apiVersion\\":
      \\"2016-03-30\\",\\r\\n      \\"dependsOn\\": [ ],\\r\\n      \\"location\\":
      \\"[parameters(\''location\'')]\\",\\r\\n      \\"name\\": \\"[parameters(\''name\'')]\\",\\r\\n      \\"properties\\":
      {\\r\\n        \\"frontendIPConfigurations\\": [\\r\\n          {\\r\\n            \\"name\\":
      \\"LoadBalancerFrontEnd\\",\\r\\n            \\"properties\\": {\\r\\n              \\"privateIPAllocationMethod\\":
      \\"[parameters(\''privateIPAllocationMethod\'')]\\",\\r\\n              \\"subnet\\":
      {\\r\\n                \\"id\\": \\"[parameters(\''subnetId\'')]\\"\\r\\n              }\\r\\n            }\\r\\n          }\\r\\n        ],\\r\\n        \\"backendAddressPools\\":
      \\"[parameters(\''backendAddressPools\'')]\\"\\r\\n      },\\r\\n      \\"tags\\":
      \\"[parameters(\''tags\'')]\\",\\r\\n      \\"type\\": \\"Microsoft.Network/loadBalancers\\"\\r\\n    }\\r\\n  ]\\r\\n}",
      "parameters": {"name": {"value": "test-lb"}, "location": {"value": "westus"},
      "privateIPAllocationMethod": {"value": "Dynamic"}, "tags": {"value": {"key":
      "super=value"}}, "subnetId": {"value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"},
      "backendAddressPools": {"value": [{"name": "bepool1"}, {"name": "bepool2"}]}},
      "mode": "Incremental"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2018-05-01
  response:
    body:
      string: '{"error":{"code":"InvalidRequestContent","message":"The request content
        was invalid and could not be deserialized: ''Error converting value \"{\r\n  \"$schema\":
        \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n  \"contentVersion\":
        \"1.0.0.0\",\r\n  \"parameters\": {\r\n    \"name\": {\r\n      \"type\":
        \"string\"\r\n    },\r\n    \"location\": {\r\n      \"type\": \"string\"\r\n    },\r\n    \"subnetId\":
        {\r\n      \"type\"[...]
